.navbar-first{
      color : white;
      text-align: center;
      position : relative;
      margin-bottom: 50px;

}
a{
    color : white;
    font-size: 17px;
    margin-right: 22px;
    
}
a:hover{
    font-size: 20px;
    color: brown;
}
.navbar-first {
    color: white;
    text-align: center;
    position: relative;
    top: 2px;
    margin-bottom: 25px;
  }
  
  a {
    color: white;

    font-size: 17px;
    margin-right: 22px;
    position: relative; /* Ajout de cette propriété pour positionner les pseudo-éléments par rapport à ce lien */
  }
.modal{
    display: none;
    background-color: white;
    width : 400px;
    height: 200px;
    position : fixed;
    top: 30%;
    left: 50%;
    z-index: 999;
    border-radius: 15px;
  transform: translate(-50% , -50%);
     
}
.modal2{
  display: none;
  background-color: white;
  width : 400px;
  height: 200px;
  position : fixed;
  top: 30%;
  left: 50%;
  z-index: 999;
  border-radius: 15px;
  transform: translate(-50% , -50%);
}
.modal3{
  display: flex;
  background-color: white;
  width : 400px;
  height: 200px;
  position : fixed;
  top: 30%;
  left: 50%;
  z-index: 999;
  border-radius: 15px;
  transform: translate(-50% , -50%);
}
a{
  text-decoration: none;
}
text{
  position : relative;
  bottom: 335px;
}
.modal3{
  display: none;
  background-color: white;
  width : 400px;
  height: 200px;
  position : fixed;
  top: 30%;
  left: 50%;
  z-index: 999;
  border-radius: 15px;
transform: translate(-50% , -50%);
   
}
.modal-content{
    position : relative;
}

.bton-1{
    position : fixed;
    right: 5px;
    top: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-style: 30px;
    background-color: transparent;
    border: 3px solid rgb(58, 14, 1);
    border-radius: 10px;
    padding: 8px;
}
.bton-1:hover{
    cursor: pointer;
    background-color: antiquewhite;
}
.verification{
    position : fixed;
    left: 50%;
    top: -20%;
    text-align: center;
    font-size: 25px;
    transform: translate(-50% , 100%);
}
#var{
  position : fixed;
  left: 50%;
  top: -88.3%;
  text-align: center;
  font-size: 25px;
  transform: translate(-50% , 100%);
}
#id{
    height: 700px;
}
  .Home::before,
  .Home::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid white;
  }
  
  .Home::before {
    top: -2.3px;
    left: -5px;
    border-width: 2px 0 0 2px;
  }
  
  .Home::after {
    bottom: -2px;
    right: -6px;
    border-width: 0 2px 2px 0;
  }
  
  a:hover {
    font-size: 20px;
    color: brown;
  }
  .checkbox-wrapper:hover .check {
    stroke-dashoffset: 0;
  }
  p{
    position : relative;
  }
  .checkbox-wrapper {
    position: fixed;
    left: 46%;
    top: 130px;
    display: inline-block;
    width: 40px;
    height: 40px;

  }
  
  .checkbox-wrapper .background {
    fill: rgb(121, 84, 50);
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  
  .checkbox-wrapper .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  
  .checkbox-wrapper .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  
  .checkbox-wrapper input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
  }
  
  .checkbox-wrapper input[type=checkbox]:hover {
    cursor: pointer;
  }
 p{
  text-align: center;
 }
  .checkbox-wrapper input[type=checkbox]:checked + svg .background {
    fill: rgb(121, 84, 50);
  }
  
  .checkbox-wrapper input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  
  .checkbox-wrapper input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
  }
  .input{
    text-align: center;
  }